/* Overley das Opcoes do Painel */
#main-PerfilSettingsPanel {
    width: 360px;
    height: 500px;
    border-radius: 50px 50px 0px 0px;
    border: 1px solid #ffffff;
    position: absolute;
    background-color: #020913;
    bottom: -1px;
    transition: .5s ease;
}

#main-PerfilSettingsPanel span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Dando uma margem das opcoes para o Top do overlay */
#main-PerfilSettingsPanel div:nth-child(1){
    margin: 75px 0px 0px 0px;
}

/* Configurando as opcoes do painel */
#main-PerfilSettingsPanel div{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Configurando os icones */
#main-PerfilSettingsPanel div img{
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px 20px;
    background-color: grey;
}

#main-PerfilSettingsPanel div h1{
    font-size: 16px;
}

