#main-EditButton{
    width: 25px;
    height: 25px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    cursor: pointer;
}

#main-EditButton img{
    width: 19px;
    height: 19px;
    /* background-color: green; */
}