* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

:root {
  --color-White-CustomInput: #E3E3E3;
  /*Cor para o fundo do CustomInput*/
  --color-Pink-CustomInput: #F62046;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overscroll-behavior-y: contain;
  background-color: #020913;
}

h1 {
  color: #ffffff;
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: #ffffff;
}

input {
  border: 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.loading-skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: -200% 0;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }

}